{% extends 'main.html' %}
{% block content%}

<div class="card">
  <div class="card-header">
      {{testSet.nomenclature}}
      {{testSet.serial_number}}
  </div>
  <div class="card-body">
    <p class="card-title">
        Nomen------{{testSet.nomenclature}} <br/>
        Nsn---------{{testSet.nsn}} <br/>
        Model-------{{testSet.model}} <br/>
        Serial--------{{testSet.serial_number}} <br/>
        TM_number-{{testSet.tm_number}} <br/>
        TM_date----{{testSet.tm_date}}
    </p>

  </div>
</div>

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-primary">Home</a>
<a href="{% url 'home' %}" class="btn btn-secondary">Edit</a>
<a href="{% url 'home' %}" class="btn btn-success">Print</a>
<a href="{% url 'delete_testset' testSet.id %}" class="btn btn-danger">Delete</a>


{% endblock content %}